name: Sync Files
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    # Mainly setting permissions here to appease CodeQL
    # Actual job permissions come from the dedicated Token we generate in
    # generate-token (which also has privileges for more scopes)
    permissions:
      contents: read

    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.NB_BOT_ID }}
          private-key: ${{ secrets.NB_BOT_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@v1
        with:
          # See https://github.com/BetaHuhn/repo-file-sync-action docs
          GH_INSTALLATION_TOKEN: ${{ steps.generate-token.outputs.token }}
          PR_LABELS: |
            _bot
